select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   padding: 0 .5rem;
   box-shadow:none;
   background-image: none;
   flex: 1;
   color:#000;
   cursor:pointer;
   font-size: 0.8em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 13em;
   height: 2em;
   line-height: 2;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #ee9622 !important;
   color: #fff;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #000;
}
swiper-container {
   width: 100%;
   height: 100%;
}

swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}